<!DOCTYPE html>
<html>
<head>
    <title>Upload Photo</title>
    <style>
     body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            line-height: 2;
            
        }
    h1 {
        font-weight: bold;
        text-align: center;
        background-color: #ffcc00;
        color: #fff; 
        padding: 1.5rem;
        border-radius: 1rem; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    } 
  </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Upload Photo</h1>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
        File: <input type="file" name="file"><br>
        Description: <input type="text" name="description"><br>
        Keywords: <input type="text" name="keywords"><br>
        <input type="submit" value="Upload">
    </form>
    <a href="/dashboard">Back to Dashboard</a>
</body>
</html>
